
.battle-container {
    color: #d8d8d0
}
.row1 {
    display: flex;
    flex-direction: row;
}
.bar-container{
    display: flex;
    flex-direction: row-reverse;
}

.HP-bar{
    display: flex;
    flex-direction: row;
}