.stats-container {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    /* flex-wrap: wrap; */
    /* align-self: flex-start; */
}
.stats-profile-container {
    margin-right: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
}

.stats-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.radar-container {
    margin-right: 80px;
    margin-bottom: 80px;
}
.stats-collection-container {
    margin-right: 80px;
    margin-bottom: 80px;
}

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.row2 {
    display: flex;
    flex-direction: row;
}

.row3 {
    display: flex;
    flex-direction: row;
}