.stats-container {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    /* flex-wrap: wrap; */
    /* align-self: flex-start; */
}
.stats-profile-container {
    margin-right: 10px;
}
.radar-container {
    margin-right: 20px;
    margin-bottom: 40px;
}

.row2 {
    display: flex;
    flex-direction: row;
}

